<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample</title>
</head>
<body>      
    <h3>Add todo .</h3>
    <!-- Currently, create is not used. -->
    <form action="/todo/create" method="POST">
        Create a todo:
        <input type="text" name="todoItem">
    </form>
    <hr>    
    <a href="/todo">See existing todos.</a>
    
</body>
</html>